{% extends "base.html" %}
{% block nav %}
	{% include "includes/_nav.html" %}
{% endblock nav %}
{% block main %}
<div class="container">
	<h4>Entrada Log</h4>
	<table>
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Data</th>
				<th>Produto</th>
				<th>Quantidade</th>
				<th>Motivo</th>
			</tr>
		</thead>
		<tbody>
			{%for obj in objects%}
			<tr>
				<td>{{obj.user}}</td>
				<td>{{obj.entrada_data}}</td>
				<td>{{obj.entrada_produto}}</td>
				<td>{{obj.entrada_quantidade}}</td>
				<td>{{obj.entrada_motivo}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
{% endblock main %}